<div id="wrapper">
      <h1>NY Times Article Scraper</h1>
      <h2><i>Comment on any of the articles below!</i></h2>
      <div id="articles">
      {{!-- 	<div>
      	<ul>
      	{{#each article}}
      	<li>
      	{{this.title}}
      	</li>
      	<li>
      	{{this.link}}
      	</li>
      	</ul>
      	</div> --}}
      </div>
      <div id="notes"></div>
    </div>
   {{!--  // <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    // <script src="../public/app.js"></script> --}}